*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content{
    padding: 1rem;
    background-color: #fff;
    height:100vh;
    width: 100vw;
}

@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        margin: 1rem auto;
        height: 100vh;
        border-radius: 1rem;
    }
}

.pokemons{
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 360px){
    .pokemons{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


.pokemon {
    margin: 0.5rem;
    padding: 1rem;
    background-color: #49D0B0;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
  
}

.pokemon .number{
    color: #000;
    opacity: 0.3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name{
    color: #fff;
    margin-bottom: .25rem;
}


.pokemon .detail{
    display: flex;
    flex-direction: right;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding:0;
    margin: 0;
    list-style:none;
}

.pokemon .detail .types .type {
    background-color: #61e1ca;
    color: white;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: 0.625rem;
    border-radius: 1rem;

}


.pokemon .detail img{
    max-width: 100%;
    height: 100px;
    align-self: flex-end;
    
}



