.pokemons{
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.grass{
    background-color: #77c850;
}

.poison{
    background-color: #a04a0a;
}

.fire{
    background-color: #ee7f30;
}

.flying{
    background-color: #098ff0;
}


.pokemon {
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
  
}

.pokemon .number{
    color: #000;
    opacity: 0.3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name{
    color: #fff;
    margin-bottom: .25rem;
    text-transform: capitalize;
}


.pokemon .detail{
    display: flex;
    flex-direction: right;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding:0;
    margin: 0;
    list-style:none;
}

.pokemon .detail .types .type {
    color: white;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: 0.625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;

}


.pokemon .detail img{
    max-width: 90%;
    height: 100px;
    align-self: flex-end;
    
}


.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button{
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    color:#fff;
    padding: 0.25rem .5rem;
    font-size: .625rem;
    margin: 0.25rem 0;
}

@media screen and (min-width: 360px){
    .pokemons{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}